@model MessengerWebApp.ViewModels.ChatMessageViewModel

<div class="message" data-message-id="Model.MessageID">
    <div class="message-header">
        @Model.RecordDate.ToString("dd.MM.yyyy HH:mm:ss")
        @Html.DisplayFor(m => m.UserSender)
    </div>
    <div class="message-content">
        @Html.DisplayFor(m => m.Content)
    </div>
    @if (User.Identity.Name == Model.UserSender)
    {
        <div class="message-footer text-right">
            <a href="#">Edit</a> | <a href="#">Delete</a>
        </div>
    }
</div>
