@model MessengerWebApp.ViewModels.ChatUserViewModel

<div class="row participant" data-user-id="@Model.UserID">
    <div class="col-md-9">
        @if (Model.IsOnline)
        {
            <span class="glyphicon glyphicon-ok-sign text-success"></span>
        }
        else {
            <span class="glyphicon glyphicon glyphicon-remove-sign" style="color: #ccc;"></span>
        }
        &nbsp;
        @Html.DisplayFor(m => m.Login)
    </div>
    <div class="col-md-3">
        <a href="#"><span class="glyphicon glyphicon-hourglass"></span></a>
        <a href="#"><span class="glyphicon glyphicon-comment"></span></a>        
    </div>
</div>
