@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Vendors/Bootstrap/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/site.css" rel="stylesheet" />

    <link href="~/Content/Images/logo-small.png" rel="icon" />

    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Vendors/Bootstrap/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="logo-large"></div>
                <h2 class="text-center">
                    Q is simple and minimalistic messenger application that provides all you need for instant messaging.
                </h2>
            </div>
            <div class="col-md-4">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
