.users-info-container, .messages-log-container {
    height: 50vh;
    max-height: 50vh;
    overflow: auto;
}

.user-info {
    margin: 7px 0px;
    font-size: 16px;
}

    .user-info .user-status {
        margin-right: 10px;
    }

    .user-info .user-actions a{
        margin: 0px 5px;
    }

.message {
    margin: 5px 0px;
    padding: 10px;
}

    .message .message-info {
        font-weight: 500;
    }

     .message .message-actions {
        font-size: 12px;
    }

.message-private {
    background-color: #e0f3ff;
    border-radius: 5px;
}

.system-message {
    font-weight: 500;
    margin: 10px 0px;
    padding: 0px 10px;
}

.modified {
    color: #000;
}

.online {
    color: #2cb044;
}

.offline {
    color: #ccc;
}

.message-input {
    margin-top: 10px;
}

.send-button {
    margin-top: 10px;
}